.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.toast.show {
  opacity: 1;
}

.inputsNewPerson {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.individualInput {
  display: block;
  margin-bottom: 20px;
}

.newFormBtn {
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: white;

  line-height: 1.2;
  text-transform: uppercase;
  width: 100px;
  height: 50px;

  background: linear-gradient(90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(140, 55, 167, 1) 4%,
      rgba(145, 54, 161, 1) 6%,
      rgba(150, 53, 155, 1) 8%,
      rgba(155, 52, 149, 1) 10%,
      rgba(155, 52, 149, 1) 10%,
      rgba(170, 48, 131, 1) 16%,
      rgba(177, 46, 122, 1) 20%,
      rgba(189, 43, 107, 1) 24%,
      rgba(206, 39, 86, 1) 31%,
      rgba(211, 38, 80, 1) 33%,
      rgba(221, 36, 68, 1) 37%,
      rgba(243, 31, 41, 1) 46%,
      rgba(253, 29, 29, 1) 50%,
      rgba(253, 53, 35, 1) 58%,
      rgba(253, 62, 37, 1) 61%,
      rgba(253, 74, 40, 1) 66%,
      rgba(253, 84, 43, 1) 69%,
      rgba(253, 90, 45, 1) 71%,
      rgba(250, 104, 54, 1) 74%,
      rgba(252, 126, 55, 1) 83%,
      rgba(252, 176, 69, 1) 100%);
  transition: transform 0.5s ease;
}

.newFormBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.containerInputsNewPerson {
  background-color: rgb(254, 255, 220);

}

