.card {
    width: 300px;
    height: 500px;
    background-color: rgb(211, 211, 211);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .card img {
    width: 100%;
    border-radius: 5%;
    margin-bottom: 20px;
  }
  
  .card p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    width: 250px;
  }

  .card h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .card button {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(140,55,167,1) 4%, rgba(145,54,161,1) 6%, rgba(150,53,155,1) 8%, rgba(155,52,149,1) 10%, rgba(155,52,149,1) 10%, rgba(170,48,131,1) 16%, rgba(177,46,122,1) 20%, rgba(189,43,107,1) 24%, rgba(206,39,86,1) 31%, rgba(211,38,80,1) 33%, rgba(221,36,68,1) 37%, rgba(243,31,41,1) 46%, rgba(253,29,29,1) 50%, rgba(253,53,35,1) 58%, rgba(253,62,37,1) 61%, rgba(253,74,40,1) 66%, rgba(253,84,43,1) 69%, rgba(253,90,45,1) 71%, rgba(250,104,54,1) 74%, rgba(252,126,55,1) 83%, rgba(252,176,69,1) 100%);;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  @media (max-width: 600px) {
    .card {
      width: 100%;
    }
  }