.listCardsHome {
  background-color: rgb(255, 255, 216);
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}

.listCardsHome h1 {
  padding-top: 20px;
}

.peopleCardsHome {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  gap: 50px;
}
